In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import tqdm

In [3]:
train_df = pd.read_csv('train.csv')
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
test_df = pd.read_csv('test.csv')
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [ ]:
df = train_df.drop(columns=['keyword', 'location'])

In [9]:
pd.set_option('display.max_colwidth', None)

In [10]:
train_df.sample(5)

,id,keyword,location,text,target
5714,8155,rescuers,Nigeria,#RoddyPiperAutos Fears over missing migrants in Med: Rescuers search for survivors after a boat carrying as ma... http://t.co/97B8AVgEWU,1
5776,8243,rioting,Dublin,New doco tonight at 9pm Setanta Sports Ireland freeview. The largest police presence at a soccer game in Ireland stop prevent the rioting,0
7042,10089,typhoon,iamdigitalent.com,Photos: Typhoon Soudelor Has Its Aim Set on Taiwan andåÊChina http://t.co/3OG66NfSIG,1
7366,10546,windstorm,Georgia ? Tennessee,When I breathe it sounds like a windstorm. Haha cool,0
3911,5561,flood,boston,when fizzy is sitting in the regular flood seats ...... and no one knows who she is.....,0

## Tokenization

In [74]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

import re

In [75]:
stop_words = stopwords.words("english")
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [76]:
def cleaning(data):
    
    #1. Tokenize
    text_tokens = word_tokenize(data.lower()) 
    
    #2. Remove Puncs
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    #3. Removing Stopwords
    tokens_without_sw = [t for t in tokens_without_punc if t not in stop_words]
    
    #4. lemma
    text_cleaned = [WordNetLemmatizer().lemmatize(t) for t in tokens_without_sw]
    
    #joining
    return " ".join(text_cleaned)

In [77]:
def find(texts, keywords):
    for text in texts:
        return 1 if (len(re.match(text,keywords)) > 0) else 0

def lower_x(text_list):
    return [x.lower() for x in text_list]

In [82]:
train_df.drop(columns=['location'], inplace=True)

In [83]:
train_df

,id,keyword,text,target
0,1,NaN,Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all,1
1,4,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected,1
3,6,NaN,"13,000 people receive #wildfires evacuation orders in California",1
4,7,NaN,Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school,1
...,...,...,...,...
7608,10869,NaN,Two giant cranes holding a bridge collapse into nearby homes http://t.co/STfMbbZFB5,1
7609,10870,NaN,@aria_ahrary @TheTawniest The out of control wild fires in California even in the Northern part of the state. Very troubling.,1
7610,10871,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. http://t.co/zDtoyd8EbJ,1
7611,10872,NaN,Police investigating after an e-bike collided with a car in Little Portugal. E-bike rider suffered serious non-life threatening injuries.,1
7612,10873,NaN,The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d,1

In [91]:
train_df['clean_text'] = train_df.text.apply(cleaning)

AttributeError: 'Series' object has no attribute 'progress_apply'

In [101]:
train_df['clean_text'] = train_df['clean_text'].apply(lambda x : re.sub('http','',x))

In [123]:
train_df['clean_text'].iloc[0]

'deed reason earthquake may allah forgive u'

## Train Test Split

In [108]:
X = train_df["clean_text"]
y = train_df["target"]

In [113]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, stratify = y, random_state = 42)

In [117]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report

In [112]:
vectorizer = TfidfVectorizer()
X_train_count = vectorizer.fit_transform(X_train)
X_test_count = vectorizer.transform(X_test)

## Logistic REgression

In [114]:
log = LogisticRegression(C=7, class_weight='balanced', max_iter=1000 )

In [116]:
log.fit(X_train_count,y_train)

LogisticRegression(C=7, class_weight='balanced', max_iter=1000)

In [120]:
print(classification_report(y_test,log.predict(X_test_count)))

              precision    recall  f1-score   support

           0       0.80      0.82      0.81      2171
           1       0.75      0.73      0.74      1636

    accuracy                           0.78      3807
   macro avg       0.78      0.77      0.78      3807
weighted avg       0.78      0.78      0.78      3807

In [121]:
print(classification_report(y_train,log.predict(X_train_count)))

              precision    recall  f1-score   support

           0       0.98      0.99      0.98      2171
           1       0.98      0.97      0.98      1635

    accuracy                           0.98      3806
   macro avg       0.98      0.98      0.98      3806
weighted avg       0.98      0.98      0.98      3806

In [124]:
test_df = pd.read_csv('test.csv')

In [128]:
test_df.text = test_df.text.apply(cleaning).apply(lambda x : re.sub('http','',x))

In [131]:
test_df.drop(columns=['keyword','location'],inplace=True)

In [134]:
X_count = vectorizer.transform(test_df.text)

In [135]:
test_df['target'] = log.predict(X_count)

In [137]:
test_df.drop(columns=['text'], inplace=True)

In [142]:
test_df.to_csv('submission.csv', index=False)

In [140]:
pd.read_csv('sample_submission.csv')

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       0
...     ...     ...
3258  10861       0
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       0

[3263 rows x 2 columns]

In [144]:
pd.read_csv('submission.csv').target.value_counts()

0    1932
1    1331
Name: target, dtype: int64